*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    padding-top: 80px;
}

/* FUNZIONALITÀ */
:root{ /*!GRIGIO PER LA STRUTTURA*/
    --grigio-0: #23272a;
    --grigio-1: #676767;
    --font-size-s: 0.8rem;
}

.center{
    width: 1180px;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

.card *{
    font-size: var(--font-size-s);
}

ul.flex{
    list-style-type: none;
    justify-content: space-between;
}

.flex{
    display: flex;
}

/* EFFETTI */
.gender a:hover{
    background-color: black;
}

.menu-user a:hover{
    color: black;
}

ul a:hover{ /***/
    text-decoration: underline;
}

/* TODO: CUORE ROSSO IN HOVER */
.like:hover{
    color: red;
}

/* TODO: CAMBIO IMMAGINE IN HOVER */
img:last-of-type{
    display: none;
}

.card:hover img:first-of-type{
    display: none;
}

.card:hover img:last-of-type{
    display: inline-block;
}

/* HEADER */
.gender a, .menu-user a{
    padding: 8px;
}

.logo{
    text-align: center;
}

.menu-user{
    text-align: right;
}

.logo img{
    width: 120px;
}

.header-top-nav{
    height: 80px;
    background-color: #ff6900;
    box-shadow: 0 1px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1 ;
}

.content-top-nav.flex{
    align-items: center;
    height: 100%;
}

.content-top-nav > div{
    flex-basis: calc(100% / 3);
}

.header-bottom-nav.flex{
    background-color: black;
    opacity: 0.7;
    margin-bottom: 20px;
}

.search-bar{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

input{
    border: none;
}

/* MAIN */
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.card{
    width: 350px;
}

.card img{
    width: 100%;
}


/* PREZZO */
.discount{   /*prezzo scontato rosso*/
    color: red;
    font-weight: 900;
}

.price.discount{  /*prezzo prima dello sconto*/
    text-decoration: line-through;
    color: black;
    font-weight: 400;
}

.price{  /*prezzo normale*/
    font-weight: 900;
}

/* !Immagine del prodotto */
.product-image{
    position: relative;
}

.like{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px;
    background-color: white;
}

.info-product.flex{
    position: absolute;
    bottom: 30px;
    color: white;
}

.percentage-discount{
    background-color: red;
    padding: 5px;
    margin-right: 5px;
}

.characteristics{
    background-color: green;
    padding: 5px;
}

/* !Se non è presente nessuno sconto o caratteristica extra da segnalare assegno classe NONE in modo da rendere più veloce una eventuale modifica futura */
.NONE{
    padding: 0;
    margin: 0;
}


/* FOOTER */
footer{
    height: 80px;
    background-color: #1a1a1a;
    color: white;
}